@font-face {
  font-family: 'Teko';
  src:  url('../fonts/Teko-Medium.woff2') format('woff2'),
        url('../fonts/Teko-Medium.woff') format('woff');
}

.title-menu{
  height: 8vh;
}

.top-menu{
  display: inline-block;
}

.app-title{
  font-family: 'Teko', sans-serif;
  font-size: 2.3em;
  padding-left: 10px;
  color: black;
}

.content{
  height: 92vh;
  padding:0;
  margin: 0;
}

.map{
  height: 92vh;
  padding-right: 0;
  padding-left: 0;
}

.map-control-panel{
  position: absolute;
  z-index: 450;
}
.legend-button{
  float: right;
  margin-left: 1em;
  margin-top:1em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
.legend-button:hover{
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2), 0 0 15px 0 rgba(0,0,0,.5);
}
.legend-panel{
  /* display: none; */
  float: left;
  margin: 0;
  height:92vh;
  width: 30em;
  background-color: white;
  text-align: center;
  overflow: auto;
}
.closed{
  display: none;
}
.legend-title{
  border-bottom: 1px solid #eee;
  font-family: 'Teko', sans-serif;
  color: #d12121;
  font-size: 1.2em;
}
.inactive-icon{
  display: none;
}
.pop-infos{
  margin-top: 10px;
}
.table-infor{
  font-size: 0.8em;
}

.btn-link{
  color:#57595C;
}
.btn-link:hover{
  color:#1A1A1B;
}
.sdg-logo{
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.app-presentation{
  margin-top: 20px;
  text-align: justify;
}
.legend-square{
  display: flex;
  vertical-align: middle;
}
.square900{
  height: 25px;
 width: 25px;
 background-color: #8AEAB7;
 display: inline-block;
 margin-right: 5px;
}
.square1800{
  height: 25px;
 width: 25px;
 background-color: #15d670;
 display: inline-block;
 margin-right: 5px;
}
.square3600{
  height: 25px;
 width: 25px;
 background-color: #ee973e;
 display: inline-block;
 margin-right: 5px;
}
.square14400{
  height: 25px;
 width: 25px;
 background-color: #F34A41;
 display: inline-block;
 margin-right: 5px;
}
.square28800{
  height: 25px;
 width: 25px;
 background-color: #C0170E;
 display: inline-block;
 margin-right: 5px;
}

.close-zdc{
  cursor: pointer;
}
